body {
    background-color: #0067C6;
    font-family: 'Carrois Gothic', sans-serif;
}


.container-fluid {
    height: 100%;
    overflow: hidden;
}

.title {
    margin-top: 25%;
    padding-left: 20px;
}

.language {
    padding-left: 20px;
    margin-top: -6%;
}
